*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif ;
    /* height: 2000vh; */
}

/* header */
 header{
    width: 100%;
    height: 50px;
    background: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.infor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.phone{
    display: flex;
    gap: 2px;
    align-items: center;
}
.email{
    display: flex;
    gap: 2px;
    align-items: center;
}

.phone img{
    width: 20px;
    height: 20px;
    
}

.email img{
    width: 20px;
    height: 20px;
}

.social_media{
    display: flex;
    gap: 20px;
}

.social_media img{
    width: 20px;
    height: 20px;
    
}



/* media query */

@media (min-width : 320px) and  (max-width: 1024px){
    header{
        display: none;
    }

}



/* header end here */



/* nav */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    width: 100%;
    height: 100px;
    background: #000;
}

.nav_link{
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: white;
    
}

.nav_link ul a:hover{
    color: yellow;
}

.nav_link ul a{
    text-decoration: none;
    color: white;
}
.cart_search{
    display: flex;
    gap: 20px;
}
.cart_search img{
    width: 25px;
    height: 25px;
}
.cart_searchImg2{
    width: 25px;
}

.Book {
      background-color: #ffeb00; 
      padding: 15px 20px;
      position: relative;
      width: 250px;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
      transition: 0.3s ease-in-out;
}
    

.Book_stripe {
      position: absolute;
      top: 0;
      right: 20px;
      width: 15px;
      height: 100%;
      background-color:black;
      transform: skewX(-10deg);
}


 .Book:hover{
        border: yellow solid 2px;
        background: black;
        color: #000;
    }

.Book a{
    text-decoration: none;
    font-size: 23px;
    color: white;
    font-weight: 30px;
}
.menu img{
    width: 30px;
    height: 30px;
}

.icons_png{
    background: #000;
    display: none;
}

.menu{
    display: none;
}

.nav_link_second{
    display: none;
}




/* media query */

@media (min-width : 320px) and  (max-width: 1024px){
   .nav_link {
        display: none;
    }
    nav{
        padding: 10px 10px;
        height: 50px;
    }

    .Book{
        display: none;
    }

    .logo img{
        width: 100px;
    }

    .menu{
    display: flex;
   }

   .cart_search{
    margin-left: 120px;
   }

   .icons_png{
    display: none; 
    background: #000;
   }

  

   .cart_search img{
    width: 20px;
    height: 20px;
   }

   .nav_link_second{
    display: none;
    position: absolute;
    top: 50px;
    width: 200px;
    height: 350px;
    background: black;
    /* text-align: center; */
    transition: 1.5s;
   }

   .nav_link_second a{
       text-decoration: none;
        color: white;
        font-size: 15px;
        margin-left: 50px;

   }

}


@media (min-width : 768px) and  (max-width: 1024px){
    .cart_search{
        margin-left: 550px;
    }

    .nav_link_second{
    display: block;
    position: absolute;
    top: 50px;
    width: 400px;
    height: 550px;
    background: black;
    /* text-align: center; */
    transition: 1.5s;
   }

   .nav_link_second a{
       text-decoration: none;
        color: white;
        font-size: 25px;
        margin-left: 150px;

   }
   .nav_link_second ul{
    padding: 5px;
   }
}
/* nav end here */




/* background_image */

.background_image{
    width: 100%;
    height: 100vh;
    
}

.background_image img{
    width: 100%;
    height: 100vh;
    position: relative;
    
}
.text_background{
    position: absolute;
    top: 350px;
    left: 400px;
    
}

.text_background h1{
    font-size: 80px;
    color: white;
}

.text_background p{
    font-size: 30px;
    color: white;
}


@media (min-width : 320px) and  (max-width: 1024px){
    .background_image{
        height: fit-content;
        object-fit: cover;
        width: 100%;
    }

    .text_background h1{
        font-size: 30px;
        color: white;
    }


    .background_image img{
        height: 50vh;
    }
    .text_background{
        position: absolute;
        top: 230px;
        left: 106px;
        
    }

    .text_background p{
        font-size: 15px;
        color: white;
    } 
    
    .Book_Discover {
        background-color: #ffeb00; 
        padding: 18px 20px;
        position: relative;
        width: 250px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
        transition: 0.3s ease-in-out;
    }
    

    .Book_stripe_Discover {
        position: absolute;
        top: 0;
        right: 20px;
        width: 15px;
        height: 100%;
        background-color:black;
    }



    
}
@media (min-width : 768px) and  (max-width: 1024px){
    .text_background h1{
        font-size: 50px;
        color: white;
    }

    .text_background{
    position: absolute;
    top: 350px;
    left: 280px;
    
}
}






/* welcome_to_company */

@keyframes blink{
    from{
        background-position: 0%;
    }
    to{
        background-position: 500%;
    }
} 

.hide{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(-0);
}



.welcome_to_company{
    width: 100%;
    height: 130vh;
    justify-content: space-between;
    display: flex;
    padding: 90px 90px;
    align-items: center;
    position: relative;
    animation: blink 3s linear infinite alternate;
}

.welcome_to_company_diagonal{
    position: relative;
    
}

.welcome_to_company_text_area{
    margin-top: 80px;
}

.welcome_to_company_text_area h5{
    font-size: 30px;
}

.welcome_to_company_text_area h1{
    font-size: 50px;
}

.welcome_to_company_text_area p{
    font-size: 20px;
}

.image_1{
    width: 350px;
    position: absolute;
    top: 110px;
    left: 13px;
}
.image_2{
    width: 190px;
    position: absolute;
    top: 400px;
    left: 250px;
}
.image_3{
    width: 200px;
    position: absolute;
    top: 130px;
    left: 280px;
}


.diagonal {
      width: 250px;
      height: 100vh;
      background-color: yellow;
      transform: rotate(10deg);
      position: relative;
      margin-top: 30px;
      margin-left: 100px;
      clip-path: polygon(0% 5%, 100% 0%, 95% 95%, 0% 100%);
}

.online{
    display: flex;
    gap: 20px;
     /* justify-content: center; */
    align-items: center; 
}
.online img{
   width: 30px;
}

.our_portfolio{
    display: flex;
    gap: 20px;
}

.our_portfolio div{
    width: 5px;
    height: 70px;
    background: #000;
}

.book_taxi_area{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.book_took_img img{
    width: 200px;
}

.More{
    padding: 10px 20px;
}



.Boo {
      background-color: #ffeb00; 
      padding: 15px 20px;
      position: relative;
      width: 250px;
      overflow: hidden;
      display: flex;

      justify-content: space-between;
      align-items: center;
      clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
      transition: 0.3s ease-in-out;
}
    

.Book_strip {
      position: absolute;
      top: 0;
      right: 20px;
      width: 15px;
      height: 100%;
      background-color:black;
      transform: skewX(-10deg);
}

.Boo a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 30px;
    color: white;
}



.Boo:hover{
    border: yellow solid 2px;
    background: black;
    color: #000;
}



 



@media (min-width : 320px) and  (max-width: 1024px){
    .welcome_to_company{
        width: 100%;
        height: fit-content;
        flex-direction: row;
        padding: 20px 20px;
        margin-bottom: 500px;
        
    }
    .diagonal{
        display: none;
    }
    .image_3{
        display: none;
    }
    .image_2{
        display: none;
    }
    .image_1{
        width: 300px;
        position: absolute;
        top: 500px;
        left: 0;
    }

    .welcome_to_company_text_area h5{
        font-size: 20px;
    }
    .welcome_to_company_text_area h1{
        font-size: 30px;
    }

   .book_taxi_area{
    flex-direction: column;
   }
    
   .welcome_to_company_text_area p{
    font-size: 20px;
   }
    .online img{
    width: 10px;
    }

    .Boo {
      background-color: #ffeb00; 
      /* padding: 10px 20px; */
      position: relative;
      width: 200px;
      overflow: hidden;
      display: flex;
     font-size: 10px;
      justify-content: space-between;
      align-items: center;
      clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
      transition: 0.3s ease-in-out;
}
    

    .Book_strip {
        position: absolute;
        top: 0;
        right: 20px;
        width: 15px;
        height: 100%;
        background-color:black;
        transform: skewX(-10deg);
    }
}


@media (min-width : 768px) and  (max-width: 1024px){
    .image_1{
        width: 400px;
        height: 400px;
    }

    .welcome_to_company_text_area{
        margin-right: 90px;
    }
    .welcome_to_company_text_area h5{
        font-size: 30px;
    }
    .welcome_to_company_text_area h1{
        font-size: 50px;
    }
    
    .welcome_to_company_text_area p{
        font-size: 25px;
    }
   .book_taxi_area{
    flex-direction: column;
   }

    .online img{
    width: 20px;
    }
}
/* welcome_to_company end here */




/* LATEST_SERVICE */


.LATEST_SERVICE{
    width: 100%;
    height: 150vh;
    margin-top: 100px;
     position: relative;
}

.Image_LATEST_SERVICE img{
    width: 100%;
    height: 150vh;
   
}

.LATEST_SERVICE_Text_Area{
    color: white;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 30px 30px;
    border-bottom: white solid 1px;
    align-items: center;
}

.LATEST_SERVICE_Text_Area h2{
    font-size: 60px;
}

.LATEST_SERVICE_Text_Area p{
    font-size: 25px;
}

.Busines{
    display: flex;
    position: absolute;
    top:350px;
    width: 100%;
    justify-content: space-between;
    color: white;
    padding: 30px 30px;
}

.Business_div div img{
    width: 30px;
    /* padding: 20px 20px; */
    background: yellow;
}

.Business_div{
    display: flex;
    gap: 400px;
    height: 120px;
    align-items: center;
    border-bottom: white 0.2px solid;
}


.diagonal_Business_image_container {
      width: 150px;
      height: 50vh;
      background-color: yellow;
      transform: rotate(5deg);
      position: relative;
      margin-right: 150px;
      clip-path: polygon(0% 5%, 100% 0%, 95% 95%, 0% 100%);
}


.bub_image img{
    width: 400px;
    height: 468px;
    position: absolute;
    top: 410px;
    left: 800px;
}

@media (min-width : 320px) and  (max-width: 1024px){
    .LATEST_SERVICE{
        width: 100%;
        height: 50%;
    }
    .Business_image_container{
        display: none;
    }
    .bub_image{
        display: none;
    }
        .Business_div div img{
        width: 30px;
        /* padding: 20px 20px; */
        background: yellow;
    }

    .Business_div{
        display: flex;
        gap: 100px;
        height: 120px;
        align-items: center;
        border-bottom: white 0.2px solid;
    }
        .LATEST_SERVICE_Text_Area h2{
        font-size: 30px;
    }

    .LATEST_SERVICE_Text_Area p{
        font-size: 15px;
        display: none;
    }
    .Image_LATEST_SERVICE img{
        height: 120vh;
    }
}




@media (min-width : 768px) and  (max-width: 1024px){
    .LATEST_SERVICE_Text_Area h2{
        font-size: 50px;
    }
     
    .LATEST_SERVICE_Text_Area h5{
        font-size: 20px;
    }
    .LATEST_SERVICE_Text_Area{
        margin-top: 50px;
    }

    .Image_LATEST_SERVICE img{
        height: 80vh;
    }

    .Business_div h1{
        font-size: 30px;
    }
    .Business_div p{
        font-size: 20px;
    }
}

/* LATEST_SERVICE end here */





/* Order */

.Order{
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 80px;
}

.Order h5{
    font-size: 20px;
}
.Order h1{
    font-size: 50px;
}
.diagonal_Taxi_Online_container {
      width: 150px;
      height: 60vh;
      background-color: rgb(250, 250, 132);
      transform: rotate(15deg);
      position: relative;
      margin-right: 150px;
      clip-path: polygon(0% 5%, 100% 0%, 95% 95%, 0% 100%);
}

.diagonal_Taxi_container_image img{
    width: 100px;
}

.diagonal_Taxi_container_text_area{
    position: absolute;
    top: 120px;
    left: -50px;
    display: flex;
    justify-content: center;
   
    
    gap: 50px;
}

.diagonal_Taxi_container{
    position: relative;
}


.Taxi_Online_container{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-between;
    padding: 80px 80px;
    text-align: initial;
}
@media (min-width : 320px) and  (max-width: 1024px){
    .Order{
        width: 100%;
        height: fit-content;
    }
    .Taxi_Online{
        width: 100%;
        height: fit-content;
    }
    .Taxi_Online_container{
        flex-direction: column;
        height: 50vh;
        gap: 20px;


    }
        .diagonal_Taxi_Online_container {
        display: none;
       
    }
        .diagonal_Taxi_container_text_area{
        position: absolute;
        top: -50px;
        left: -50px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .diagonal_Taxi_container_text h2{
        font-size: 15px;
    }
    .diagonal_Taxi_container_text p{
        font-size: 10px;
        
    }

        .diagonal_Taxi_container_image img{
        width: 80px;
    }
}



@media (min-width : 768px) and  (max-width: 1024px){
    .diagonal_Taxi_container_text h2{
        font-size: 30px;
    }
    .diagonal_Taxi_container_text p{
        font-size: 15px;
    }
    .diagonal_Taxi_container_text_area{
         top: -50px;
        left: 20px;
    }
}
  /* <!-- Order end here --> */







/* Testimonials */

.Testimonials{
    width: 100%;
    height: 120vh;
    position: relative;
}

.testimonials_image img{
    width: 100%;
    height: 120vh;
    position: relative;
}


.diagonal_text_test_container {
      width: 700px;
      height: 120vh;
      background-color: yellow;
      transform: rotate(0deg);
      clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
      /* position: absolute; */
}


.test_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
 
    
}


.text_test_container{
    margin-top: 80px;
    margin-left: 50px;
}

.text_test_container h1{
    font-size: 60px;
}

.text_test_container h5{
    font-size: 20px;
}



.client_container{
    width: 80%;
    height: 60%;
    background:white;
    box-shadow: 1px 1px 1px 1px black;
    color: #000;
    position: absolute;
    top: 200px;
    margin-left: 110px;
    padding: 30px 30px;
}

.profile_client{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}



.diagonal_Testimonials_img {
      width: 300px;
      height: 90vh;
      background-image: url(./Image/features1-1.jpg);
      transform: rotate(15deg);
      position: relative;
      margin-right: 150px;
      clip-path: polygon(10% 15%, 100% 0%, 95% 85%, 0% 100%);
      position: absolute;
      top: 30px;
      left: 750px;
}


.client_container p{
   font-size: 20px;
}

@media (min-width : 320px) and  (max-width: 1024px){
    .diagonal_text_test_container{
        display: none;
    }
        .client_container{
        width: 80%;
        height: 60%;
        background:white;
        box-shadow: 1px -1px -1px -1px black;
        color: #000;
        position: absolute;
        top: 200px;
        margin-left: 40px;
        padding: 30px 30px;
    }
    .test_container h1{
        font-size: 30px;
    }
    .client_container p{
        font-size: 10px;
        margin-top: 300px;
    }
    .client_container h1{
        font-size: 15px;
    }
    .client_container img{
        width: 50px;
    }

        .diagonal_Testimonials_img {
        width: 300px;
        height: 40vh;
        background-image: url(./Image/features1-1.jpg);
        transform: rotate(0deg);
        position: relative;
        margin-right: 150px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        position: absolute;
        top: 200px;
        left: 46px;
    }
}


@media (min-width : 768px) and  (max-width: 1024px){
    .profile_client_text h1{
        font-size: 50px;
    }
    .profile_client_text h5{
        font-size: 30px;
    }
    .Client p{
        margin-top: 450px;
        font-size: 15px;
    }
    .client_container img{
        width: 90px;
    }
      .diagonal_Testimonials_img {
        width: 650px;
        height: 40vh;
        background-image: url(./Image/features1-1.jpg);
        transform: rotate(0deg);
        position: relative;
        margin-right: 150px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        position: absolute;
        top: 200px;
        left: 46px;
    }
}
 /* <!-- Testimonials end here--> */





/* <!-- Our Expert Drivers --> */
/* <!-- Our Expert Drivers --> */

.Expert_Drivers{
    width: 100%;
    height: 250vh;
    margin-top: 100px;
}

.epert_text{
    text-align: center;
}

.epert_text h1{
    font-size: 30px;
}
.epert_driver_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}





.expert_driver_container_content{
    width: 300px;
    height: 600px;
    border: #000 solid 1px;
    position: relative;
}
.expert_driver_container_content:hover{
    background: #000;
     transition: 0.8s ease;
    color: white;
}

.expert_driver_container_content1{
    width: 300px;
    height: 600px;
    border: #000 solid 1px;
    position: relative;
}
.expert_driver_container_content1:hover{
    background: #000;
     transition: 0.8s ease;
    color: white;
}
.expert_driver_container_content2{
    width: 300px;
    height: 600px;
    border: #000 solid 1px;
    position: relative;
}

.expert_driver_container_content2:hover{
    background: #000;
     transition: 0.8s ease;
    color: white;
}
.expert_driver_container_content3{
    width: 300px;
    height: 600px;
    border: #000 solid 1px;
    position: relative;
}
.expert_driver_container_content3:hover{
    background: #000;
     transition: 0.8s ease;
    color: white;
}

.expert_driver_container_content4{
    width: 300px;
    height: 600px;
    border: #000 solid 1px;
    position: relative;
}
.expert_driver_container_content4:hover{
    background: #000;
     transition: 0.8s ease;
    color: white;
}

.expert_driver_container_content5{
    width: 300px;
    height: 600px;
    border: #000 solid 1px;
    position: relative;
}

.expert_driver_container_content5:hover{
    background: #000;
     transition: 0.8s ease;
    color: white;
}


.expert_driver_container_content6{
    width: 300px;
    height: 600px;
    border: #000 solid 1px;
    position: relative;
}


.expert_driver_container_content6:hover{
    background: #000;
     transition: 0.8s ease;
    color: white;
}














.container_content_text{
    margin-left: 30px;
    margin-top: 30px;
}
.container_icon{
    display: flex;
    gap: 8px;
    align-items: center;
}

.container_icon img{
    width: 50px;
    background: yellow;
    border-radius: 50%;
}

.container_content_image_area_icon img{
    width: 30px;
    
}







.container_content_text_1 {
    width: 200px;
      height: 65vh;
      background: yellow;
      transform: rotate(15deg);
      clip-path: polygon(10% 15%, 100% 0%, 95% 86%, 0% 100%);
      position: absolute;
      top: 210px;
      left: 50px;
      
}







.container_content_text3 {
    width: 200px;
      height: 65vh;
      background: yellow;
      transform: rotate(15deg);
      clip-path: polygon(10% 15%, 100% 0%, 95% 86%, 0% 100%);
      position: absolute;
      top: 210px;
      left: 50px;
      
}



.container_content_text4 {
    width: 200px;
      height: 65vh;
      background: yellow;
      transform: rotate(15deg);
      clip-path: polygon(10% 15%, 100% 0%, 95% 86%, 0% 100%);
      position: absolute;
      top: 210px;
      left: 50px;
      
}



.container_content_text5 {
    width: 200px;
      height: 65vh;
      background: yellow;
      transform: rotate(15deg);
      clip-path: polygon(10% 15%, 100% 0%, 95% 86%, 0% 100%);
      position: absolute;
      top: 210px;
      left: 50px;
      
}



.container_content_text6 {
    width: 200px;
      height: 65vh;
      background: yellow;
      transform: rotate(15deg);
      clip-path: polygon(10% 15%, 100% 0%, 95% 86%, 0% 100%);
      position: absolute;
      top: 210px;
      left: 50px;
      
}





.container_content_text7 {
    width: 200px;
      height: 65vh;
      background: yellow;
      transform: rotate(15deg);
      clip-path: polygon(10% 15%, 100% 0%, 95% 86%, 0% 100%);
      position: absolute;
      top: 210px;
      left: 50px;
      
}
















.container_content_text_2 img {
    width: 200px;
      height: 50vh;
      transform: rotate(13deg);
      clip-path: polygon(10% 15%, 100% 0%, 95% 86%, 0% 100%);
      position: absolute;
      top: 160px;
      left: 30px;
      
}

.container_content_image_area_icon{
    position: absolute;
    top: 500px;
    left: 60px;
    display: flex;
    gap: 8px;
    background: white;
    border: #000 solid 1px;
    padding: 5px;
}



@media (min-width : 320px) and  (max-width: 1024px){
    .Expert_Drivers{
        height: fit-content;
    }

    .epert_driver_container{
       flex-wrap: wrap;
    }

    .container_content_text_1 {
    width: 200px;
      height: 55vh;
      background: yellow;
      transform: rotate(15deg);
      clip-path: polygon(10% 15%, 100% 0%, 95% 86%, 0% 100%);
      position: absolute;
      display: none;
      top: 210px;
      left: 50px;
      
}

    .container_content_text_2 img {
        margin-top: 30px;
        width: 200px;
        height: 35vh;
        transform: rotate(0deg);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        position: absolute;
        top: 160px;
        left: 40px;
        
    }

        .container_content_image_area_icon{
        position: absolute;
        top: 500px;
        left: 80px;
        display: flex;
        gap: 8px;
        background: white;
        border: #000 solid 1px;
        padding: 5px;
    }
   .container_content_text7{
    display: none;
   }
   .container_content_text6{
    display: none;
   }
   .container_content_text5{
    display: none;
   }
   .container_content_text4{
    display: none;
   }
   .container_content_text3{
    display: none;
   }
   .container_content_text2{
    display: none;
   }

}



  /* <!-- Our Expert Drivers end here--> */
  /* <!-- Our Expert Drivers end here--> */




    /* <!-- Online Store --> */

.Online_Store{
    width: 100%;
    height: 80vh;
    margin-top: 80px;
    position: relative;
}

.Online_Store_image img{
    width: 100%;
    height: 80vh;
}

.div_online img{
    height: 470px;
    position: absolute;
    top: 0;
    left: 510px;
}

.Online_text_area {
    position: absolute;
    top: 100px;
    color: white;
    padding: 40px;
}

.Online_text_area h1{
    font-size: 60px;
}
.icon_car img{
    position: absolute;
    top: 60px;
    left: 600px;
     animation: gerald 5s ease-in-out infinite;
}

@keyframes gerald{
     50%{
        transform: translate(60px);
     }
}




@media (min-width : 320px) and  (max-width: 1024px){
    .Online_Store{
        width: 100%;
        height: fit-content;
    }
    .div_online{
        display: none;
    }
    .icon_car{
        display: none;
    }
        .Online_text_area h1{
        font-size: 40px;
    }
    .Online_image{
        display: flex;
        gap: 20px;
    }
}



@media (min-width : 768px) and  (max-width: 1024px){
    .Online_Store_image img{
        height: 50vh;
    }
    .Online_text_area h1{
        font-size: 60px;
    }

    .Online_text_area p{
        font-size: 30px;
    }
}
 /* <!-- Online Store end here--> */








/* news_container */ 

/* .img_container  */
.news_container{
    width: 100%;
    height: 140vh;
   margin-top: 80px;
}

.text_news{
    text-align: center;
}

.image_news{
    width: 95%;
     margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    gap: 30px;
    /* padding: 50px; */
}

.image_news::-webkit-scrollbar{
    display: none;
}

.img_news img{
    width: 380px;
    height: 300px;
}


.Services{
    display: none;
}


.img_container{
    position: relative;
}


.Services{
    position: relative;
}


.img_container_2{
    position: relative;
}


.Services_2{
    position: relative;
}

.Services_2{
    display: none;
}


.img_container_3{
    position: relative;
    transition: 0.9s;
}


.Services_3{
    position: relative;
    
}

.Services_3{
    display: none;
}


.Update {
      background-color: yellow; 
      padding: 25px 20px;
      position: relative;
      width: 250px;
      overflow: hidden;
      display: flex;
     color: rgb(18, 17, 17);
      justify-content: space-between;
      align-items: center;
      clip-path: polygon(8% 0%, 100% 0%, 95% 100%, 0% 100%);
      transition: 0.3s ease-in-out;
      position: absolute;
      top: 240px;
      left: 50px;
     
}
    

.Book_Update {
      position: absolute;
      top: 0;
      right: 20px;
      width: 15px;
      height: 100%;
      background-color:rgb(237, 237, 231);
      transform: skewX(-10deg);
}

.text_new_{
    margin-top: 80px;
}

.text_news h5{
   font-size: 20px;
}
.text_news h1{
   font-size: 50px;
}
.image_text_new{
    display: flex;
    gap: 30px;
    align-items: center;
   
}

.image_text_new img{
    width: 50px;
}

@media (min-width : 320px) and  (max-width: 1024px){
    .news_container{
        width: 80%;
        height: fit-content;
        padding: 0 0 0 50px;
    }
    .news_container h1{
        font-size: 15px;
    }
    .news_container p{
        font-size: 10px;
    }
    
    .image_news{
        height: fit-content;
        justify-content: center;
        align-items: center;
       
        gap: 20px;
        margin-bottom: 50px;
    }
    .img_news img{
      width: 250px;
      padding: 8px;
    }
        .Update {
        background-color: yellow; 
        padding: 15px 20px;
        position: relative;
        width: 200px;
        overflow: hidden;
        display: flex;
        color: rgb(18, 17, 17);
        justify-content: space-between;
        align-items: center;
        clip-path: polygon(8% 0%, 100% 0%, 95% 100%, 0% 100%);
        transition: 0.3s ease-in-out;
        position: absolute;
        top: 240px;
        left: 20px;
        
    }
     .Update h3{
        font-size: 15px;
     }   

    .Book_Update {
        position: absolute;
        top: 0;
        right: 20px;
        width: 10px;
        height: 100%;
        background-color:rgb(237, 237, 231);
        transform: skewX(-10deg);
    }
    .text_new_{
        padding: 0 0 0 30px;
        margin: 15px;
        /* margin-bottom: 90px; */
    }
}



@media (min-width : 768px) and  (max-width: 1024px){
    .news_container{
        width: 90%;
        height: fit-content;
        padding: 0 0 0 50px;
    }
     .image_news{
        height: fit-content;
        justify-content: center;
        align-items: center;
        padding: 0px 0 0 90px;
        gap: 20px;
        margin-bottom: 50px;
    }
    .img_news img{
      width: 250px;
      padding: 8px;
    }
}

/* news_container end here*/ 









/* image_footer */

.image_footer{
    background-image: url(./Image/pattern-4.jpg);
    width: 100%;
    height: 120vh;
    
}

.logo2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    align-items: center;
    padding: 30px 30px;
}
.logo2 p{
    color: white;
}

.logo2_Update {
      background-color: yellow; 
      padding: 20px 50px;
      position: relative;
      width: 400px;
      overflow: hidden;
      display: flex;
     color: rgb(18, 17, 17);
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
      transition: 0.3s ease-in-out;
    
}

 .logo2_Update img{
        height: 70px;
        width: 70px;
    }

    .logo2_Update h3{
        font-size: 20px;
    }


.footer_download{
    display: flex;justify-content: space-between;
    padding: 30px 30px;
    
}
.download h1{
    color: white;
    border-bottom: #ffeb00 solid 3px;
    
    width: 260px;
    height: 40px;
}

.download p{
    color: white;
    margin-top: 50px;
}

.image_download{
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

.google{
    width: 150px;
}
.store{
    width: 130px;
}


.download_about{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}
.download h3{
    color: white;
}


.download_Book {
    border: white solid 2px;
      padding: 25px 20px;
      position: relative;
      width: 300px;
      overflow: hidden;
      display: flex;
     color: black;
      justify-content: space-between;
      align-items: center;
      clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
      transition: 0.3s ease-in-out;
}


.download_Boo {
    margin-top: 50px;
      background-color: yellow; 
      padding: 25px 20px;
      position: relative;
      width: 250px;
      overflow: hidden;
      display: flex;
     color: black;
      justify-content: space-between;
      align-items: center;
      clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
      transition: 0.3s ease-in-out;
}
    

.download_Book_strip {
      position: absolute;
      top: 0;
      right: 20px;
      width: 15px;
      height: 100%;
      background-color:rgb(14, 14, 13);
      transform: skewX(-10deg);
}

.download_Boo a{
        text-decoration: none;
        font-size: 18px;
        color: white;
    }





.download_Boo:hover{
        border: yellow solid 3px;
        background: black;
        color: #eae4e4;
    }



@media (min-width : 320px) and  (max-width: 1024px){
    .logo2{
       flex-wrap: wrap;
       height: fit-content;
        gap: 50px;
        justify-content: space-between;

    }
    .footer_download{
       flex-wrap: wrap;
       justify-content: space-between;
        /* margin-top: 180px; */
        gap: 50px;
    }

    .image_footer{
        height: fit-content;
    }
    .logo2_Update {
      background-color: yellow; 
      padding: 10px 30px;
      position: relative;
      width: 300px;
      overflow: hidden;
      display: flex;
      font-size: 10px;
     color: rgb(18, 17, 17);
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
      transition: 0.3s ease-in-out;
    
   }
    .logo2_Update img{
        height: 40px;
        width: 40px;
    }

    .logo2_Update h3{
        font-size: 20px;
    }
}



@media (min-width : 768px) and  (max-width: 1024px){
     .logo2{
        padding: 60px;
       flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;

    }
    .footer_download{
        padding: 90px;
       flex-wrap: wrap;
       justify-content: space-between;
        margin-top: 18px;
        gap: 30px;
    }
}
